#home-root {
    display: flex;
    color: white;
    min-height: 100vh;
    background-color: black;
}

#table-container {
    flex: 5;
    border-radius: 5px;
    padding: 0px 20px 20px 20px;
    background: radial-gradient(circle at center, #0b3d0b, #001a00);
    margin: 1% 1%;
}

#table-title {
    text-align: center;
    margin-bottom: 15px;
}

#tables-header {
    display: flex;
    font-weight: bold;
    background-color: #222d2d;
    padding: 5px;
    border-radius: 5px;
}

#tables-header-stakes-column {
    border: 0px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

#tables-header-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    border-left: 1px rgb(179, 175, 175) solid;
}

#tables-rows {
    margin-top: 10px;
}

.table-row {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.5 ease;
}

.table-row:hover {
    background-color: #435e58;
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(30, 30, 23, 0.816);
}

.table-row div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

#sidebar {
    flex: 1;
    padding: 15px 20px 0px 0px;
    display: flex;
    flex-direction: column;
}

#sidebar-profile {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    background: radial-gradient(circle at center, #136a13, #053e05);
}

#sidebar-chips {
    background-color: #0e171e;
    padding: 10px 10px 10px 10px;
    border-radius: 50px;
    font-size: 1rem;
}

#sidebar-claim {
    width: 100%;
    background-color: #0e171e;
}
#sidebar-buttons {
    margin-top: 10px;
    width: 100%;
}

#sidebar-private {
    border-radius: 5px;
    padding: 5px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background: radial-gradient(circle at center, #136a13, #053e05);
}
